* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: grid;
  text-align: center;
  min-height: 100vh;
  place-content: center;
  align-items: center;
  background-color: rgb(248, 144, 162);
}

main{
  display: grid;
  gap: 7px;
}


h1 {
  padding: 20px;
  color: white;
}

ul {
  display: grid;
  gap: 1rem;
  border: 2px solid white;
  padding: 20px;
  color: white;
  border-radius: 16px;
}

li{
  font-size: 13px;
}

li:hover {
  background-color: rgba(36, 235, 126, 0.555);
  border-radius: 10px;
}

.finished{
  text-decoration: line-through;
}

.App-link {
  color: #61dafb;
}


ul {
  list-style: none;
}

input{
  height: 28px;
  border: none;
  text-align: center;
  border-radius: 10px;
}


button{
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 15px;
  padding: 3px;
  border-radius: 10px;
}


button:hover{
  background-color:rgba(36, 235, 126, 0.555);
}